---
layout: default
title: Articles
permalink: /articles/
---
<div class="gutter">
  <h1 class="fade title caps">Articles</h1>

  <hr>

  {% for post in site.posts %}
    {% assign currentDate = post.date | date: "%B" %}

    {% if currentDate != myDate %}
      {% unless forloop.first %}</ul>{% endunless %}
      
      <h3>{{ currentDate }}</h3>
      
      <ul>
        {% assign myDate = currentDate %}
    {% endif %}
      
    <li>
      <a class="articlelink" href="{{ post.url }}">{{ post.title }}</a>
      <i>({{ post.date | date: "%B %-d, %Y" }})</i>
    </li>
    
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>