---
layout: default
---
<div class=gutter>
<h3 class="fade title contentheader">Recent warps in this veil:</h3>
	<hr>
</div>


{% for post in site.posts %}
  <div class="gutter clearfix">
    <small class="fade date">{{ post.date | date: "%b %-d, %Y" }}</small>
    <br>
    {% if {{post.image}} != null %}
        <img class="small_image f_left" src="{{ post.image }}">
    {%endif%}

    <h2>
        <a class="plainlink" href="{{ post.url }}">{{ post.title }}</a>
    </h2>
 
    
    
    <div class="fade article">
    	{{ post.excerpt }}
    </div>
    
    
  </div>
  <hr>
{% endfor %}