<!-- <header>
  <p><a href="/">{{ site.title }}</a></p>
  <p>{{ site.blurb }}</p>

  <ul>
    <li><a href="http://twitter.com/sumeetjain">Twitter</a></li>
    <li><a href="http://github.com/sumeetjain">GitHub</a></li>
    <li><a href="{{ "/feed.xml" }}">RSS</a></li>
  </ul>

  <ul>
    {% for the_page in site.pages %}
      {% if the_page.title %}
      <li><a href="{{ the_page.url }}">{{ the_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</header> -->

<div class="header caps">
  <h1><a href="/index.html">Michael Sefranek</a></h1>
  <p class="subtitle">Ideas from another dimension</p>
</div>

<div class="header nav clearfix">

  <div class="soclinks clearfix">
    <a href="https://twitter.com/MalastrumDomini?lang=en" class="s--twitter">A</a>
    <a href="https://github.com/MalastrumDominiSui" class="s--github">P</a>
    <a class="s--rss">L</a>
  </div>

  <div class="sitelinks clearfix">
      {% for the_page in site.pages %}
        {% if the_page.title %}
        <span><a class="caps" href="{{ the_page.url }}">{{ the_page.title }}</a></span>
        {% endif %}
      {% endfor %}
  </div>
</div>
