<div class="header flex-between">

  <div class="namesake">
    <h1><a class="caps" href="/index.html">Michael Sefranek</a></h1>
    <p class="subtitle">Ideas from another dimension</p>
  </div>

  <div id="centerlinks" class="soclinks hidewhensmall">
    <a href="https://twitter.com/MalastrumDomini?lang=en" class="s--twitter">A</a>
    <a href="https://github.com/MalastrumDominiSui" class="s--github">P</a>
    <a class="s--rss">L</a>
  </div>


  <div id="navclick" class="nav_container">
    <a href="#menu" class="hamburger"></a>
  </div>

  <div class="sitelinks hidewhensmall">
    {% for the_page in site.pages %}
      {% if the_page.title %}
      <span><a class="caps" href="{{ the_page.url }}">{{ the_page.title }}</a></span>
      {% endif %}
    {% endfor %}
  </div>

</div>



<div id="navbar" class="nav clearfix hidewhenbig flex-between">

  <div class="soclinks clearfix">
    <a href="https://twitter.com/MalastrumDomini?lang=en" class="s--twitter">A</a>
    <a href="https://github.com/MalastrumDominiSui" class="s--github">P</a>
    <a class="s--rss">L</a>
  </div>

  <div class="sitelinks">
      {% for the_page in site.pages %}
        {% if the_page.title %}
        <span><a class="caps" href="{{ the_page.url }}">{{ the_page.title }}</a></span>
        {% endif %}
      {% endfor %}
  </div>
</div>

<div class="hero"></div>
