<div id="header" class="flex-between">

  <div id="title" class="centerwhenbig zwhenbig">
    <h1 class="namesake"><a href="/index.html">michael sefranek</a></h1>
    <p class="namesake ctextifbig">Ideas from another dimension</p>  
  </div>

  <div id="nav-icon1" class="dnoneifbig">
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>

<div class="overflow_hidden">
  <div id="nav-container" class="nav">
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>

    <div class="big skew">
      <div class="soclinks unskew">
        <a href="https://twitter.com/MalastrumDomini?lang=en" class="s--twitter">T</a>
        <a href="https://github.com/MalastrumDominiSui" class="s--github">)</a>
        <a href="https://www.linkedin.com/in/michaelsefranek/" class="s--rss">L</a>
      </div>

      <div class="sitelinks unskew outline">
          {% for the_page in site.pages %}
            {% if the_page.title %}
            <span><a href="{{ the_page.url }}">{{ the_page.title }}</a></span>
            {% endif %}
          {% endfor %}
      </div>
    </div>
    
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
    <div class="little skew"></div>
  </div>
</div>

<div id="imageContainer1">
  <img src="/assets/pics/hero1.jpg" alt="clouds" />
</div>


<div id="imageContainer2">
  <img src="/assets/pics/hero2.jpg" alt="scape" />
</div>

<div id="imageContainer3">
  <img src="/assets/pics/hero3.jpg" alt="planet" />
</div>

