@keyframes pan1 {
   30% {
        transform: translate3d(-190px, -120px, 0px);
        animation-timing-function: linear;
    }
    33% {
        transform: translate3d(-190px, -120px, 0px);
    }
}

@keyframes pan2 {
   63% {
        transform: translate3d(-190px, -120px, 0px);
        animation-timing-function: linear;
        opacity: 1;
    }
    66% {
        transform: translate3d(-190px, -120px, 0px);
        opacity: 0;
    }
}

@keyframes pan3 {
   0% {
        transform: translate3d(-190px, -120px, 0px);
        animation-timing-function: linear;
        opacity: 1;
    }
    3% {
        transform: translate3d(-190px, -120px, 0px);
        opacity: 0;
    }
}

@keyframes first{
   2% {
      opacity: 1;
   }
   30% {
      opacity: 1;
   }
   33% {
      opacity: 0;
   } 
   98% {
      opacity: 0;
   }
}

@keyframes second{
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    63% {
      opacity: 0;
    }  
    100% {
      opacity: 0;
    }
}

@keyframes third{
    2% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    63% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    } 
}
#imageContainer1 img {
  position: absolute;
  top: -150px;
  animation: pan1 30s infinite,
            first 30s infinite;
}

#imageContainer1 {
    position: absolute;
    top: 0px;
    height: 300px;
    width: 100%;
    overflow: hidden;   
}

#imageContainer2 img {
  position: absolute;
  top: 0px;
  animation: pan2 30s infinite,
            second 30s infinite;
}

#imageContainer2 {
    position: absolute;
    top: 0px;
    height: 300px;
    width: 100%;
    overflow: hidden;
    animation: second 30s infinite; 
} 


#imageContainer3 img {
  position: absolute;
  top: -150px;
  animation: pan3 30s infinite;
}

#imageContainer3 {
    position: absolute;
    top:0px;
    height: 300px;
    width:100%;
    overflow: hidden;
    animation: third 30s infinite;
}