@font-face {
    font-family: 'Social Circles';
    src: url('Social Circles v1.1.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:'LEIXO';
  src: url('LEIXO.ttf');
  font-weight: normal;
  font-style: normal;
}

/*general styling class elements*/

html{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.clear{
  clear:both;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.content_container{
    position:relative;
    top:200px;
    max-width:768px;
    margin:auto;
}

.gutter{
    padding-left: 20px;
    padding-right: 20px;
}

.f_left{
    float:left;
}

.f_right{
    float:right;
}

.dark{
    color:#404040;
}

.caps{
    text-transform: uppercase;
}
.hidewhensmall{
    display:none;
}

.flex-between{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content:center;
}

/*style and placement of the header and its children*/

#header{
    position: relative;
    padding: 14px 14px 14px 14px;
    background-color: #0a5adb;
    color:white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05),
                2px 2px 3px rgba(0,0,0,0.07),
               -1px -1px 30px rgba(0,0,0,0.1);
}

.namesake{
  font-family:'LEIXO';
  font-weight:400;
}

h1{
    font-family:'LEIXO';
    font-weight:400;
    text-transform:lowercase;
    padding:0 0 0 0;
    margin:0 0 0 0;
    font-size: 30px;
    text-align: left;
    letter-spacing:0.01em;
}

h2{
    font-family:'LEIXO';
    font-weight:400;
    text-transform:lowercase;
    margin-top:10px;
    margin-bottom:10px;
    font-size:22px;
    color:#404040;
    letter-spacing: -0.05em;
}

h3{
    font-family:'LEIXO';
    font-weight:400;
    text-transform:lowercase;
    font-size:19px;
    font-weight: 500;
}

#header{
  z-index:1;
}

#header a{
    text-decoration: none;
    color: white;
}

#header p{
    padding: 0 0 0 0 ;
    font-size:13px;
    margin:0;
    color: white;
    opacity: 0.6;
}

/* Nav Icon, the hamburger,and it's animation */

#nav-icon1{
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .75s ease-in-out;
  -moz-transition: .75s ease-in-out;
  -o-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
  
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(495deg);
  -moz-transform: rotate(495deg);
  -o-transform: rotate(495deg);
  transform: rotate(495deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  width: 0;
  margin: auto;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/*the nav bar style and its children*/
.overflow_hidden{
  overflow:hidden;
  position: relative;
  width: 100%;
  height: 80px;
}

#nav-container{
  z-index:2;
  display:flex;
  justify-content:center;
  position: absolute;
  width: 900px;
  left: 9999px;
  -webkit-transition: left 0.4s; /* Safari */
  -webkit-transition-timing-function: ease-out; /* Safari */
  transition: left 0.4s;
  transition-timing-function: ease-in-out;
}

.unskew{
  transform: skewX(30deg);
}

.skew{
  -ms-transform: skewX(-30deg); /* IE 9 */
  -webkit-transform: skewX(-30deg); /* Safari */
  transform: skewX(-30deg); /* Standard syntax */
}

.big{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px, 5px, 0px, 5px;
  padding: 0px 20px 0px 20px;
  height: 80px;
  width: 1200px;
  background-color:white;
}

.little{
  margin: 0px 8px 0px 8px;
  height: 80px;
  width: 40px;
  background-color:white;
}


/*social media buttons styling*/
.twitter_icon{
    font-family:"Social Circles";
    font-size: 50px;
    color:#0084b4;
    align-self: center;
}

.twitter_share{
    padding:0 15px 0 15px;
    font-size: 14px;
    color:#404040;
    opacity: 0.8;

}
.twitter_share a{
    text-decoration: underline;
    color:#404040;
}

.flex_center{
    display:flex;
    justify-content: center;
}


.soclinks a{
    text-decoration:none;
    float: left;
    display:inline-block;
    font-family:'Social Circles';
    font-size: 40px;
    padding-left:0px;
    letter-spacing: 0.2em;
    color:#cccccc;
    text-shadow: 1px 1px 1px white,
       -1px -1px 1px white,
       1px -1px 1px white,
       -1px 1px 1px white;

}

.soclinks a:hover{
    cursor:pointer;
}

.s--github:hover{
    color:#404142;
        text-shadow: 2px 2px 2px white,
               -2px -2px 2px white,
               2px -2px 2px white,
               -2px 2px 2px #93bcff;
}

.s--rss:hover{
    color:#FF6600;
        text-shadow: 2px 2px 2px white,
               -2px -2px 2px white,
               2px -2px 2px white,
               -2px 2px 2px #93bcff;
}

.s--twitter:hover{
    color:#0084b4;
    text-shadow: 2px 2px 2px white,
               -2px -2px 2px white,
               2px -2px 2px white,
               -2px 2px 2px #93bcff;
}
/*hero image*/
.hero{
    height:300px;
    background-image: url("/assets/hero.jpg");
    background-repeat:no-repeat;
    background-position: center;
    margin:auto;
}

/*various href styling*/
.sitelinks{
    z-index:3;
    right:0px;
    margin: 0 0 0 0;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.sitelinks a{
    font-family: 'LEIXO';
    font-size:22px;
    font-weight: 400;
    padding:0 7px 0 7px;
    text-decoration: none;
    color:black;
    text-shadow: 1px 1px 1px white,
       -1px -1px 1px white,
       1px -1px 1px white,
       -1px 1px 1px white;
}
.sitelinks a:hover{
    cursor:pointer;
    color:red;
    text-shadow: 2px 2px 3px white,
       -2px -2px 3px white,
       2px -2px 3px white,
       -2px 2px 3px white;
}

.plainlink{
    text-decoration:none;
    color:#404040;
}

.plainlink:hover{
    color:red;
}

.sitelink a{
    text-decoration:underline;
}
.sitelink a:hover{
    color:red;
}

.sitelink a:visited{
    color:#404040;
}
.sitelink a:visited:hover{
    color:red;
}

.articlelink{
    text-decoration:underline;
    color:#404040;
}

.small_image {
  width: 50px;
  margin: 8px 8px 8px 0;
  vertical-align: center;
}

/*media query for changing when small*/
@media (min-width: 768px)  {
    .dnoneifbig{
      display:none;
    }
    .hidewhenbig{
      visibility:hidden;
    }
/*    #nav-icon1{
      position:relative;
      top:-1000px;
    }*/
    .hidewhensmall{
        display:block;
    }
    .post_title{
        font-size: 40px;
    }
    .small_image{
      width: 150px;
      margin: 24px 24px 24px 0;
    }
    h2{
      font-size:28px;
    }
    .centerwhenbig{
      margin: auto;
    }
    .zwhenbig{
      z-index:3;
    }
    .ctextifbig{
      text-align:center;
    }

    #header{
      z-index:3;
      position: absolute; 
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
      width: 400px;
      background:none;
      box-shadow:none;
    }

    #title a{
      color:black;
      text-shadow: 2px 2px 3px white,
                 -2px -2px 3px white,
                 2px -2px 3px white,
                 -2px 2px 3px white;
      font-size: 35px;
    }
    #title p{
      color:black;
      opacity:3;
      text-shadow: 2px 2px 3px white,
                 -2px -2px 3px white,
                 2px -2px 3px white,
                 -2px 2px 3px white;
      font-size:18px;

    }
    #nav-container{
      margin-left: 50%;
      transform: translateX(-50%);
      left:0px !important;
      width:100%;
    }
    .little{
      z-index:-1;
    }
    .soclinks{
      position:absolute;
      left:-185px;
    }
    .soclinks a{
      font-size:60px;
      color:black;
    }
    .sitelinks{
      position:absolute;
      right:-215px;
    }
}

}

hr{
    border-top:1px;
    color:#404040;
    border-left:none;
    margin:22px 0 22px 0;
}

.fade{
    color: #404040;
    opacity: 0.4;
    line-height: 1.375em;
    font-weight: 600;
}

.date{
    margin-top:25px;
    font-size:14px;
    font-weight: 400;
}

p{
    font-size: 15px;
}

.title{
    margin-top:35px;
    margin-bottom:19px;
    font-size:13px;
    letter-spacing: 0.11em;
}

.article {
    margin-top:13px;
    font-weight: 400;
    line-height: 1.3em;

}

.captions{
    font-size:13px;
    opacity:0.6;
}

.center-image {
  margin:auto;
}

.article_img{
    width: 100%;
    box-sizing: border-box;
    text-align:center;
}
.article_img p{
    font-size:11px;
    font-style:italic;
    text-align:left;
    margin:0 75px 0 75px;
}

.article_img a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.article_img a:hover{
    color: red;
    cursor: pointer;
}


.article_img img{
    width: 90%;
}

.note{
    padding:20px 10px 20px 10px;
    background-color:#6fa7fc;
    border-radius:2px;
    box-shadow: 2px 4px 4px black;
}

.highlight {
  padding: 5px 10px 5px 10px;
  background-color: #6fa7fc;
  border-radius:2px;
  box-shadow: 2px 4px 4px black;
}

code{
  color: black;
  font-weight: 700;
  font-size: 16px;
}

ul {
    list-style-type: square;
    margin-bottom:20px 0 20px 0;}



sup, sub {
    vertical-align: baseline;
    position: relative;
    top:-0.4em;
}

sub {
    top: 0.4em;
}
.topfix{
  position:relative;
  top:20px;
}

