@font-face {
    font-family: 'SocialType';
    src: url('SocialType.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'social_font';
    src: url('social_font.ttf');
    font-weight:normal;
    font-style:normal;
}

/*general styling class elements*/

html{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0;
    padding: 0;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.content_container{
    max-width:768px;
    margin:auto;
}

.gutter{
    padding-left: 20px;
    padding-right: 20px;
}

.f_left{
    float:left;
}

.f_right{
    float:right;
}

.dark{
    color:#404040;
}

.caps{
    text-transform: uppercase;
}
.hidewhensmall{
    display:none;
}

.flex-between{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content:center;
}

h3{
    font-size:19px;
    font-weight: 500;
}

/*style and placement of the header and its children*/

.header{
    position: relative;
    z-index:2;
    padding: 22px 14px 22px 14px;
    background-color: #404040;
    color:white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05),
                2px 2px 3px rgba(0,0,0,0.07),
               -1px -1px 30px rgba(0,0,0,0.1);
}

.namesake{
}

h1{
    padding:0 0 0 0;
    margin:0 0 0 0;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    letter-spacing:0.05em;
}

.header a{
    text-decoration: none;
    color: white;
}

.header p{
    padding: 0 0 0 0 ;
    font-size:13px;
    margin:0;
    color: white;
    opacity: 0.6;
}

#centerlinks{
    padding-right:100px;
}

/*all styling of the nav icon*/
/*.hamburger {
  position: relative;
  padding-left: 1.25em;
}

.hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1.1em;
  height: 0.13em;
  background: white;
  box-shadow: 
    0 5px 0 0 white,
    0 10px 0 0 white;
}

a.hamburger{
    padding:0 0 0 18px;
}*/

/*new nav styling*/

#nav-icon1{
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #d3531a;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .75s ease-in-out;
  -moz-transition: .75s ease-in-out;
  -o-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(495deg);
  -moz-transform: rotate(495deg);
  -o-transform: rotate(495deg);
  transform: rotate(495deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.nav_container{

    align-content:center;
    padding:3.5px 10px 3.5px 10px;
}

.nav_container:hover{
    cursor:pointer;
    border-radius: 1px;
    box-shadow:
        0 0 2px 2px rgba(63,127,191,0.7),
        0 0 0 4px rgba(63,127,191,0.3);
    }

/*the actual nav bar style and its children*/
.nav{
    margin: 0;
    z-index: 1;
    padding: 14px 13px 14px 13px;
    background-color:#f6eeee;
    box-sizing:border-box;
    width:100%;
    position:absolute;
    top:0px;
    -webkit-transition: top 0.2s; /*Safari*/
    transition: top 0.2s;
}

/*social media buttons styling*/
.twitter_icon{
    font-family:"social_font";
    font-size: 35px;
    color:#0084b4;
    align-self:center;
}

.twitter_share{
    padding:0 15px 0 15px;
    font-size: 14px;
    color:#404040;
    opacity: 0.8;

}
.twitter_share a{
    text-decoration: underline;
    color:#404040;
}

.flex_center{
    display:flex;
    justify-content: center;
}

.soclinks{
    float: left;
}

.soclinks a{
    text-decoration:none;
    opacity: 1;
    float: left;
    display:inline-block;
    font-family:'SocialType';
    font-size: 40px;
    margin-top:8px;
    padding-left:0px;
    letter-spacing: 0.2em;
    color:#cccccc;

}

.soclinks a:hover{
    cursor:pointer;
}

.s--github:hover{
    color:black;
}

.s--rss:hover{
    color:#FF6600;
}

.s--twitter:hover{
    color:#0084b4;
}

.hero{
    height:300px;
    background-image: url("/assets/hero.jpg");
    background-repeat:no-repeat;
    background-position: center;
    margin:auto;

}

.sitelinks{
    position:absolute;
    z-index:3;
    right:0px;
    margin: 0 0 0 0;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.sitelinks a{
    font-weight: 600;
    padding:0 7px 0 7px;
    text-decoration: none;
    color:#2F4F4F;
}
.sitelinks a:hover{
    cursor:pointer;
    color:#00e699;
}

.plainlink{
    text-decoration:none;
    color:#404040;
}

.plainlink:hover{
    color:#00e699;
}

.sitelink a{
    text-decoration:underline;
}
.sitelink a:hover{
    color:#00e699;
}

.sitelink a:visited{
    color:#404040;
}
.sitelink a:visited:hover{
    color:#00e699;
}

.articlelink{
    text-decoration:underline;
    color:#404040;
}

@media (min-width: 768px)  {
    .hidewhenbig{
        display:none;
    }
    .header{
        background-color: white;
    }
    .header h1 a{
        color: #404040;
    }
    .header p{
        color: #404040;
    }
    #navclick{
        visibility:hidden;
    }
    .hidewhensmall{
        display:block;
    }
    .post_title{
        font-size: 40px;
    }

}

hr{
    border-top:1px;
    color:#404040;
    border-left:none;
    margin:22px 0 22px 0;
}

.fade{
    color: #404040;
    opacity: 0.4;
    line-height: 1.375em;
    font-weight: 600;
}

.date{
    margin-top:25px;
    font-size:14px;
    font-weight: 400;
}

h2{
    margin-top:10px;
    margin-bottom:10px;
    font-size:28px;
    font-weight:600;
    color:#404040;
    letter-spacing: -0.03em;
}

p{
    font-size: 15px;
}

.title{
    margin-top:35px;
    margin-bottom:19px;
    font-size:13px;
    letter-spacing: 0.11em;
}

.small_image{
    width:150px;
}

.article {
    margin-top:13px;
    font-weight: 400;
    line-height: 1.3em;

}

.captions{
    font-size:13px;
    opacity:0.6;
}

.article_img{
    width: 100%;
    box-sizing: border-box;
    text-align:center;
}
.article_img p{
    font-size:11px;
    font-style:italic;
    text-align:left;
    margin:0 75px 0 75px;
}

.article_img a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.article_img a:hover{
    color: #00e699;
    cursor: pointer;
}


.article_img img{
    width: 90%;
}

.note{
    padding:14px;
    background-color:#E5FFF6;
    position:relative;
    left:-20px;
    width:100%;
}

code{
    padding:14px;
    background-color:#e6e6e6;
    position:relative;
    left:-20px;
    width:100%;
}

ul {
    list-style-type: square;
    margin-bottom:20px 0 20px 0;}



sup, sub {
    vertical-align: baseline;
    position: relative;
    top:-0.4em;
}

sub {
    top: 0.4em;
}

